.text-body {
    background: #cccccc;
    font-family: Calibri, serif;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
}

.my-header-2-class {
    font-size: 1.5em;
}

p {
    background: gray;
    border-radius: 8px;
    padding: 16px;
}

.custom-paragraph {
    background: white;
    columns: 2;
}

img {
    border-radius: 16px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}